flows_edison.json
[
    {
        "type": "tab",
        "id": "247aba4c.db8546",
        "label": "I2C ADXL345"
    },
    {
        "type": "tab",
        "id": "a228708e.e826c",
        "label": "Twitter"
    },
    {
        "type": "tab",
        "id": "b62a5ca.0957aa",
        "label": "Из Ардиуно"
    },
    {
        "type": "tab",
        "id": "c70a6eed.26e6b",
        "label": "MPU-6050"
    },
    {
        "type": "tab",
        "id": "77ab628f.c779cc",
        "label": "Flow 1"
    },
    {
        "id": "22be5ff7.07821",
        "type": "subflow",
        "name": "Pressure",
        "info": "",
        "in": [],
        "out": [
            {
                "x": 740,
                "y": 120,
                "wires": [
                    {
                        "id": "9aaa4b8c.155b58",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "fe4f0100.87042",
        "type": "subflow",
        "name": "BMP180-Temp",
        "info": "",
        "in": [],
        "out": [
            {
                "x": 780,
                "y": 100,
                "wires": [
                    {
                        "id": "44a3fc0.3fa3204",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "d935f1e2.37c62",
        "type": "nodebot",
        "z": "247aba4c.db8546",
        "name": "",
        "username": "",
        "password": "",
        "boardType": "galileo-io",
        "serialportName": "",
        "connectionType": "local",
        "mqttServer": "",
        "socketServer": "",
        "pubTopic": "",
        "subTopic": "",
        "tcpHost": "",
        "tcpPort": "",
        "sparkId": "",
        "sparkToken": "",
        "beanId": "",
        "impId": "",
        "meshbluServer": "https://meshblu.octoblu.com",
        "uuid": "",
        "token": "",
        "sendUuid": ""
    },
    {
        "id": "bf5b9493.c6afe8",
        "type": "twitter-credentials",
        "z": "a228708e.e826c",
        "screen_name": "@microspacer"
    },
    {
        "id": "fe9056cf.0f07b8",
        "type": "serial-port",
        "z": "b62a5ca.0957aa",
        "serialport": "/dev/ttyMFD1",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "93972422.a94f88",
        "type": "websocket-listener",
        "z": "b62a5ca.0957aa",
        "path": "/ws/pressure",
        "wholemsg": "false"
    },
    {
        "id": "3f925a2e.6d9996",
        "type": "websocket-listener",
        "z": "b62a5ca.0957aa",
        "path": "/ws/temperature",
        "wholemsg": "false"
    },
    {
        "id": "36e5ee1d.9b0dc2",
        "type": "websocket-listener",
        "z": "b62a5ca.0957aa",
        "path": "/ws/humidity",
        "wholemsg": "false"
    },
    {
        "id": "6fd8dbc3.319944",
        "type": "websocket-listener",
        "z": "247aba4c.db8546",
        "path": "/ws/acc_x",
        "wholemsg": "false"
    },
    {
        "id": "2c042630.a2f0da",
        "type": "websocket-listener",
        "z": "247aba4c.db8546",
        "path": "/ws/acc_y",
        "wholemsg": "false"
    },
    {
        "id": "71f8b207.94cf1c",
        "type": "websocket-listener",
        "z": "247aba4c.db8546",
        "path": "/ws/acc_z",
        "wholemsg": "false"
    },
    {
        "id": "cfc7ff8.34626",
        "type": "nodebot",
        "z": "",
        "name": "",
        "username": "",
        "password": "",
        "boardType": "galileo-io",
        "serialportName": "",
        "connectionType": "local",
        "mqttServer": "",
        "socketServer": "",
        "pubTopic": "",
        "subTopic": "",
        "tcpHost": "",
        "tcpPort": "",
        "sparkId": "",
        "sparkToken": "",
        "beanId": "",
        "impId": "",
        "meshbluServer": "",
        "uuid": "",
        "token": "",
        "sendUuid": ""
    },
    {
        "id": "d4f433a9.5aea5",
        "type": "websocket-listener",
        "z": "b62a5ca.0957aa",
        "path": "/ws/light",
        "wholemsg": "false"
    },
    {
        "id": "2ac6cb36.d2cd54",
        "type": "gpio out",
        "z": "247aba4c.db8546",
        "name": "ADXL345",
        "state": "I2C_READ_REQUEST",
        "pin": "",
        "i2cDelay": "0",
        "i2cAddress": "83",
        "i2cRegister": "50",
        "outputs": 1,
        "board": "d935f1e2.37c62",
        "x": 280,
        "y": 561.2500057220459,
        "wires": [
            [
                "e73dd4e3.272338"
            ]
        ]
    },
    {
        "id": "bff977ec.f09548",
        "type": "inject",
        "z": "247aba4c.db8546",
        "name": "",
        "topic": "# of bytes",
        "payload": "6",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 561.2500057220459,
        "wires": [
            [
                "2ac6cb36.d2cd54"
            ]
        ]
    },
    {
        "id": "e73dd4e3.272338",
        "type": "function",
        "z": "247aba4c.db8546",
        "name": "process i2c",
        "func": "var data = msg.payload;\nvar int16 = function(high, low) {\n  var result = (high << 8) | low;\n  // if highest bit is on, it is negative\n  return result >> 15 ? ((result ^ 0xFFFF) + 1) * -1 : result;\n};\n\n\nmsg.payload = {\n        x: data[0]*256+data[1],\n        y: data[2]*256+data[3],\n        z: data[4]*256+data[5],\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 561.2500057220459,
        "wires": [
            [
                "206f11c6.dabb7e"
            ]
        ]
    },
    {
        "id": "f2fe562d.693db8",
        "type": "twitter out",
        "z": "a228708e.e826c",
        "twitter": "bf5b9493.c6afe8",
        "name": "Tweet",
        "x": 441,
        "y": 279,
        "wires": []
    },
    {
        "id": "b1824c5e.c9481",
        "type": "inject",
        "z": "a228708e.e826c",
        "name": "Качество сна",
        "topic": "",
        "payload": "D @microspacer DM",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 137,
        "y": 259,
        "wires": [
            [
                "f2fe562d.693db8",
                "d3088a3.1d1ce78"
            ]
        ]
    },
    {
        "id": "a40d01c7.f1e17",
        "type": "inject",
        "z": "a228708e.e826c",
        "name": "Подъем",
        "topic": "",
        "payload": "Тяжело ли было вставать?",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 136,
        "y": 316,
        "wires": [
            []
        ]
    },
    {
        "id": "8bce105a.3ab94",
        "type": "inject",
        "z": "a228708e.e826c",
        "name": "Отход ко сну",
        "topic": "",
        "payload": "Тяжело ли было уснуть?",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 133,
        "y": 361,
        "wires": [
            []
        ]
    },
    {
        "id": "8d378c13.2b745",
        "type": "twitter in",
        "z": "a228708e.e826c",
        "twitter": "bf5b9493.c6afe8",
        "tags": "@microspacer",
        "user": "dm",
        "name": "",
        "topic": "tweets",
        "x": 143,
        "y": 443,
        "wires": [
            [
                "8c15dd58.bad5f"
            ]
        ]
    },
    {
        "id": "8c15dd58.bad5f",
        "type": "debug",
        "z": "a228708e.e826c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 470,
        "y": 438,
        "wires": []
    },
    {
        "id": "d3088a3.1d1ce78",
        "type": "debug",
        "z": "a228708e.e826c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 433,
        "y": 192,
        "wires": []
    },
    {
        "id": "27d005e7.22748a",
        "type": "gpio out",
        "z": "247aba4c.db8546",
        "name": "",
        "state": "I2C_WRITE_REQUEST",
        "pin": "",
        "i2cDelay": "0",
        "i2cAddress": "83",
        "i2cRegister": "",
        "outputs": 0,
        "board": "d935f1e2.37c62",
        "x": 450,
        "y": 80,
        "wires": []
    },
    {
        "id": "107dd93.c191627",
        "type": "inject",
        "z": "247aba4c.db8546",
        "name": "",
        "topic": "",
        "payload": "65",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 80,
        "wires": [
            [
                "e4337daf.664d3"
            ]
        ]
    },
    {
        "id": "e4337daf.664d3",
        "type": "function",
        "z": "247aba4c.db8546",
        "name": "i2c bytes",
        "func": "msg.payload = [0x2D, 0x08];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 80,
        "wires": [
            [
                "27d005e7.22748a"
            ]
        ]
    },
    {
        "id": "716a5f78.09698",
        "type": "gpio out",
        "z": "22be5ff7.07821",
        "name": "BMP180 (pressure)",
        "state": "I2C_READ_REQUEST",
        "pin": "",
        "i2cDelay": "0",
        "i2cAddress": "119",
        "i2cRegister": "246",
        "outputs": 1,
        "board": "d935f1e2.37c62",
        "x": 480,
        "y": 120,
        "wires": [
            [
                "9aaa4b8c.155b58"
            ]
        ]
    },
    {
        "id": "bdc532d.c0161d",
        "type": "inject",
        "z": "22be5ff7.07821",
        "name": "",
        "topic": "# of bytes",
        "payload": "3",
        "payloadType": "str",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "x": 90,
        "y": 160,
        "wires": [
            [
                "dd14b540.96d528",
                "f1f6fb76.323e98"
            ]
        ]
    },
    {
        "id": "b5fd76b9.d1b278",
        "type": "gpio out",
        "z": "22be5ff7.07821",
        "name": "",
        "state": "I2C_WRITE_REQUEST",
        "pin": "",
        "i2cDelay": "0",
        "i2cAddress": "119",
        "i2cRegister": "",
        "outputs": 0,
        "board": "d935f1e2.37c62",
        "x": 440,
        "y": 200,
        "wires": []
    },
    {
        "id": "f1f6fb76.323e98",
        "type": "function",
        "z": "22be5ff7.07821",
        "name": "i2c bytes",
        "func": "msg.payload = [0xF4, 0x34];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 200,
        "wires": [
            [
                "b5fd76b9.d1b278"
            ]
        ]
    },
    {
        "id": "dd14b540.96d528",
        "type": "delay",
        "z": "22be5ff7.07821",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 290,
        "y": 120,
        "wires": [
            [
                "716a5f78.09698"
            ]
        ]
    },
    {
        "id": "9aaa4b8c.155b58",
        "type": "function",
        "z": "22be5ff7.07821",
        "name": "",
        "func": "data = msg.payload\nmsg.payload = data[0]*256+data[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "6a7724d7.acf8ac",
        "type": "gpio out",
        "z": "fe4f0100.87042",
        "name": "BMP180 (temp)",
        "state": "I2C_READ_REQUEST",
        "pin": "",
        "i2cDelay": "0",
        "i2cAddress": "119",
        "i2cRegister": "246",
        "outputs": 1,
        "board": "d935f1e2.37c62",
        "x": 520,
        "y": 100,
        "wires": [
            [
                "44a3fc0.3fa3204"
            ]
        ]
    },
    {
        "id": "f002d139.6aa4d",
        "type": "gpio out",
        "z": "fe4f0100.87042",
        "name": "",
        "state": "I2C_WRITE_REQUEST",
        "pin": "",
        "i2cDelay": "0",
        "i2cAddress": "119",
        "i2cRegister": "",
        "outputs": 0,
        "board": "d935f1e2.37c62",
        "x": 500,
        "y": 180,
        "wires": []
    },
    {
        "id": "34995098.21e04",
        "type": "inject",
        "z": "fe4f0100.87042",
        "name": "",
        "topic": "",
        "payload": "2",
        "payloadType": "str",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "x": 164,
        "y": 160,
        "wires": [
            [
                "a6c60794.1d6508",
                "be9474fc.c6a068"
            ]
        ]
    },
    {
        "id": "a6c60794.1d6508",
        "type": "function",
        "z": "fe4f0100.87042",
        "name": "i2c bytes",
        "func": "msg.payload = [0xF4, 0x2E];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 180,
        "wires": [
            [
                "f002d139.6aa4d"
            ]
        ]
    },
    {
        "id": "be9474fc.c6a068",
        "type": "delay",
        "z": "fe4f0100.87042",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "6a7724d7.acf8ac"
            ]
        ]
    },
    {
        "id": "44a3fc0.3fa3204",
        "type": "function",
        "z": "fe4f0100.87042",
        "name": "",
        "func": "data = msg.payload\nmsg.payload = data[0]*256+data[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "8cc5eadb.510b68",
        "type": "function",
        "z": "247aba4c.db8546",
        "name": "process i2c",
        "func": "var data = msg.payload;\nvar int16 = function(high, low) {\n  var result = (high << 8) | low;\n  // if highest bit is on, it is negative\n  return result >> 15 ? ((result ^ 0xFFFF) + 1) * -1 : result;\n};\n\n\nmsg.payload = {\n    accelerometer : {\n        x: int16(data[0], data[1]),\n        y: int16(data[2], data[3]),\n        z: int16(data[4], data[5])\n    },\n    temperature : int16(data[6], data[7]),\n    gyro : {\n        x: int16(data[8], data[9]),\n        y: int16(data[10], data[11]),\n        z: int16(data[12], data[13])\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 650,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "ff2f2df8.c49ec",
        "type": "serial in",
        "z": "b62a5ca.0957aa",
        "name": "",
        "serial": "fe9056cf.0f07b8",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "117238aa.98cd07"
            ]
        ]
    },
    {
        "id": "a63585d0.9b0118",
        "type": "function",
        "z": "b62a5ca.0957aa",
        "name": "parse json",
        "func": "data = msg.payload;\n//msg.payload = data[\"pressure\"];\nvar pr = { payload: 0.75*data[\"pressure\"] };\nvar temp = { payload: data[\"temperature\"] };\nvar hum = { payload: data[\"humidity\"] };\nvar light = { payload: data[\"light\"] };\nreturn [pr, temp, hum, light];",
        "outputs": "4",
        "noerr": 0,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "823b32e1.51bb7",
                "b23d04.042993"
            ],
            [
                "e2a67817.1a1348",
                "f5e648a1.4cddf8"
            ],
            [
                "4d1fe54c.724c7c",
                "3ff4261e.7406ea"
            ],
            [
                "d7d6375e.5ac868",
                "fbbe2c2d.8addc"
            ]
        ]
    },
    {
        "id": "117238aa.98cd07",
        "type": "json",
        "z": "b62a5ca.0957aa",
        "name": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "a63585d0.9b0118"
            ]
        ]
    },
    {
        "id": "823b32e1.51bb7",
        "type": "websocket out",
        "z": "b62a5ca.0957aa",
        "name": "pressure -> FB",
        "server": "93972422.a94f88",
        "client": "",
        "x": 600,
        "y": 120,
        "wires": []
    },
    {
        "id": "e2a67817.1a1348",
        "type": "websocket out",
        "z": "b62a5ca.0957aa",
        "name": "temp -> FB",
        "server": "3f925a2e.6d9996",
        "client": "",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "4d1fe54c.724c7c",
        "type": "websocket out",
        "z": "b62a5ca.0957aa",
        "name": "humidity -> FB",
        "server": "36e5ee1d.9b0dc2",
        "client": "",
        "x": 600,
        "y": 240,
        "wires": []
    },
    {
        "id": "c49283b2.d176f",
        "type": "gpio out",
        "z": "247aba4c.db8546",
        "name": "",
        "state": "I2C_WRITE_REQUEST",
        "pin": "",
        "i2cDelay": "0",
        "i2cAddress": "83",
        "i2cRegister": "",
        "outputs": 0,
        "board": "d935f1e2.37c62",
        "x": 450,
        "y": 140,
        "wires": []
    },
    {
        "id": "920cd625.5fa488",
        "type": "inject",
        "z": "247aba4c.db8546",
        "name": "",
        "topic": "",
        "payload": "65",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "e5195a5c.3f4498"
            ]
        ]
    },
    {
        "id": "e5195a5c.3f4498",
        "type": "function",
        "z": "247aba4c.db8546",
        "name": "i2c bytes",
        "func": "msg.payload = [0x31, 0x03];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 140,
        "wires": [
            [
                "c49283b2.d176f"
            ]
        ]
    },
    {
        "id": "8a928926.cb29a8",
        "type": "websocket out",
        "z": "247aba4c.db8546",
        "name": "acc_x -> FB",
        "server": "6fd8dbc3.319944",
        "client": "",
        "x": 770,
        "y": 501.2500057220459,
        "wires": []
    },
    {
        "id": "75309645.97c008",
        "type": "websocket out",
        "z": "247aba4c.db8546",
        "name": "acc_y -> FB",
        "server": "2c042630.a2f0da",
        "client": "",
        "x": 770,
        "y": 561.2500057220459,
        "wires": []
    },
    {
        "id": "16114e79.9add92",
        "type": "websocket out",
        "z": "247aba4c.db8546",
        "name": "acc_z -> FB",
        "server": "71f8b207.94cf1c",
        "client": "",
        "x": 770,
        "y": 621.2500057220459,
        "wires": []
    },
    {
        "id": "206f11c6.dabb7e",
        "type": "function",
        "z": "247aba4c.db8546",
        "name": "parse json",
        "func": "data = msg.payload;\n//msg.payload = data[\"pressure\"];\nvar accx = { payload: data[\"x\"] };\nvar accy = { payload: data[\"y\"] };\nvar accz = { payload: data[\"z\"] };\nreturn [accx, accy, accz];",
        "outputs": "3",
        "noerr": 0,
        "x": 590,
        "y": 561.2500057220459,
        "wires": [
            [
                "8a928926.cb29a8"
            ],
            [
                "75309645.97c008"
            ],
            [
                "16114e79.9add92"
            ]
        ]
    },
    {
        "id": "ad6afcce.24171",
        "type": "gpio out",
        "z": "c70a6eed.26e6b",
        "name": "",
        "state": "I2C_READ_REQUEST",
        "pin": "",
        "i2cDelay": "0",
        "i2cAddress": "104",
        "i2cRegister": "59",
        "outputs": 1,
        "board": "cfc7ff8.34626",
        "x": 240,
        "y": 200,
        "wires": [
            [
                "385681fd.cd2efe"
            ]
        ]
    },
    {
        "id": "82a287a7.fda4b8",
        "type": "debug",
        "z": "c70a6eed.26e6b",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "385681fd.cd2efe",
        "type": "function",
        "z": "c70a6eed.26e6b",
        "name": "process i2c",
        "func": "var data = msg.payload;\nvar int16 = function(high, low) {\n  var result = (high << 8) | low;\n  // if highest bit is on, it is negative\n  return result >> 15 ? ((result ^ 0xFFFF) + 1) * -1 : result;\n};\n\n\nmsg.payload = {\n    accelerometer : {\n        x: int16(data[0], data[1]),\n        y: int16(data[2], data[3]),\n        z: int16(data[4], data[5])\n    },\n    temperature : int16(data[6], data[7]),\n    gyro : {\n        x: int16(data[8], data[9]),\n        y: int16(data[10], data[11]),\n        z: int16(data[12], data[13])\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 410,
        "y": 200,
        "wires": [
            [
                "82a287a7.fda4b8"
            ]
        ]
    },
    {
        "id": "58e3bf24.a0b22",
        "type": "inject",
        "z": "c70a6eed.26e6b",
        "name": "",
        "topic": "",
        "payload": "14",
        "payloadType": "str",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 90,
        "y": 200,
        "wires": [
            [
                "ad6afcce.24171"
            ]
        ]
    },
    {
        "id": "1bd5700b.862ac",
        "type": "gpio out",
        "z": "c70a6eed.26e6b",
        "name": "",
        "state": "I2C_WRITE_REQUEST",
        "pin": "",
        "i2cDelay": "0",
        "i2cAddress": "104",
        "i2cRegister": "",
        "outputs": 0,
        "board": "cfc7ff8.34626",
        "x": 400,
        "y": 260,
        "wires": []
    },
    {
        "id": "6d6be98e.b035c8",
        "type": "inject",
        "z": "c70a6eed.26e6b",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 90,
        "y": 260,
        "wires": [
            [
                "4a77caa4.d64304"
            ]
        ]
    },
    {
        "id": "4a77caa4.d64304",
        "type": "function",
        "z": "c70a6eed.26e6b",
        "name": "i2c bytes",
        "func": "msg.payload = [0x6B, 0x00];\nreturn msg;",
        "outputs": 1,
        "x": 240,
        "y": 260,
        "wires": [
            [
                "1bd5700b.862ac"
            ]
        ]
    },
    {
        "id": "c858fe0c.0975c",
        "type": "inject",
        "z": "77ab628f.c779cc",
        "name": "",
        "topic": "",
        "payload": "{ \"n\": \"temp\", \"v\": 4}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 190,
        "y": 240,
        "wires": [
            [
                "96becb00.9da3a8"
            ]
        ]
    },
    {
        "id": "96becb00.9da3a8",
        "type": "udp out",
        "z": "77ab628f.c779cc",
        "name": "",
        "addr": "127.0.0.1",
        "iface": "",
        "port": "41234",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 420,
        "y": 240,
        "wires": []
    },
    {
        "id": "d7d6375e.5ac868",
        "type": "websocket out",
        "z": "b62a5ca.0957aa",
        "name": "light -> FB",
        "server": "d4f433a9.5aea5",
        "client": "",
        "x": 590,
        "y": 280,
        "wires": []
    },
    {
        "id": "8fb4c1b1.2db0f",
        "type": "comment",
        "z": "247aba4c.db8546",
        "name": "Не используется!!!",
        "info": "Не используется!!!",
        "x": 370,
        "y": 340,
        "wires": []
    },
    {
        "id": "c61722ed.23036",
        "type": "udp out",
        "z": "b62a5ca.0957aa",
        "name": "",
        "addr": "127.0.0.1",
        "iface": "",
        "port": "41234",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "f5e648a1.4cddf8",
        "type": "function",
        "z": "b62a5ca.0957aa",
        "name": "temp",
        "func": "temp = msg.payload;\nmsg.payload = '{ \"n\": \"temp\", \"v\": ' + temp + '}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 80,
        "wires": [
            [
                "c61722ed.23036"
            ]
        ]
    },
    {
        "id": "b23d04.042993",
        "type": "function",
        "z": "b62a5ca.0957aa",
        "name": "pressure1",
        "func": "temp = msg.payload;\nmsg.payload = '{ \"n\": \"pressure1\", \"v\": ' + temp + '}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 40,
        "wires": [
            [
                "c1198d78.92b7a"
            ]
        ]
    },
    {
        "id": "c1198d78.92b7a",
        "type": "udp out",
        "z": "b62a5ca.0957aa",
        "name": "",
        "addr": "127.0.0.1",
        "iface": "",
        "port": "41234",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 640,
        "y": 40,
        "wires": []
    },
    {
        "id": "3ff4261e.7406ea",
        "type": "function",
        "z": "b62a5ca.0957aa",
        "name": "humidity1",
        "func": "temp = msg.payload;\nmsg.payload = '{ \"n\": \"humidity1\", \"v\": ' + temp + '}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 360,
        "wires": [
            [
                "4cc20046.4c8e1"
            ]
        ]
    },
    {
        "id": "4cc20046.4c8e1",
        "type": "udp out",
        "z": "b62a5ca.0957aa",
        "name": "",
        "addr": "127.0.0.1",
        "iface": "",
        "port": "41234",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 640,
        "y": 360,
        "wires": []
    },
    {
        "id": "fbbe2c2d.8addc",
        "type": "function",
        "z": "b62a5ca.0957aa",
        "name": "light1",
        "func": "temp = msg.payload;\nmsg.payload = '{ \"n\": \"light1\", \"v\": ' + temp + '}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 400,
        "wires": [
            [
                "9ac0dfb6.8e2ae"
            ]
        ]
    },
    {
        "id": "9ac0dfb6.8e2ae",
        "type": "udp out",
        "z": "b62a5ca.0957aa",
        "name": "",
        "addr": "127.0.0.1",
        "iface": "",
        "port": "41234",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 640,
        "y": 400,
        "wires": []
    }
]