flows_edison.json
[{"type":"tab","id":"247aba4c.db8546","label":"I2C"},{"type":"tab","id":"a228708e.e826c","label":"Flow 3"},{"id":"d935f1e2.37c62","type":"nodebot","z":"247aba4c.db8546","name":"","username":"","password":"","boardType":"galileo-io","serialportName":"","connectionType":"local","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"738ce43b.bbc72c","type":"websocket-listener","path":"/ws/count","wholemsg":"true"},{"id":"bf5b9493.c6afe8","type":"twitter-credentials","z":"a228708e.e826c","screen_name":"@microspacer"},{"id":"96144c5.fb463b","type":"gpio out","z":"247aba4c.db8546","name":"BMP180 (temp)","state":"I2C_READ_REQUEST","pin":"","i2cDelay":"0","i2cAddress":"119","i2cRegister":"246","outputs":1,"board":"d935f1e2.37c62","x":494,"y":279,"wires":[["84c89972.41e108"]]},{"id":"84c89972.41e108","type":"debug","z":"247aba4c.db8546","name":"","active":true,"console":"false","complete":"false","x":655,"y":308,"wires":[]},{"id":"2ac6cb36.d2cd54","type":"gpio out","z":"247aba4c.db8546","name":"ADXL345","state":"I2C_READ_REQUEST","pin":"","i2cDelay":"0","i2cAddress":"83","i2cRegister":"","outputs":1,"board":"d935f1e2.37c62","x":434,"y":181,"wires":[["10aee211.79a34e"]]},{"id":"10aee211.79a34e","type":"debug","z":"247aba4c.db8546","name":"","active":true,"console":"false","complete":"false","x":636,"y":168,"wires":[]},{"id":"bff977ec.f09548","type":"inject","z":"247aba4c.db8546","name":"","topic":"# of bytes","payload":"65","payloadType":"str","repeat":"","crontab":"","once":false,"x":148,"y":188,"wires":[["2ac6cb36.d2cd54"]]},{"id":"e73dd4e3.272338","type":"function","z":"247aba4c.db8546","name":"process i2c","func":"var data = msg.payload;\nvar int16 = function(high, low) {\n  var result = (high << 8) | low;\n  // if highest bit is on, it is negative\n  return result >> 15 ? ((result ^ 0xFFFF) + 1) * -1 : result;\n};\n\n\nmsg.payload = {\n    accelerometer : {\n        x: int16(data[0], data[1]),\n        y: int16(data[2], data[3]),\n        z: int16(data[4], data[5])\n    },\n    temperature : int16(data[6], data[7]),\n    gyro : {\n        x: int16(data[8], data[9]),\n        y: int16(data[10], data[11]),\n        z: int16(data[12], data[13])\n    }\n};\n\nreturn msg;","outputs":1,"x":714,"y":26,"wires":[[]]},{"id":"ef64cf1b.ebf66","type":"gpio out","z":"247aba4c.db8546","name":"","state":"I2C_WRITE_REQUEST","pin":"","i2cDelay":"0","i2cAddress":"119","i2cRegister":"","outputs":0,"board":"d935f1e2.37c62","x":551,"y":372,"wires":[]},{"id":"9d038e57.50314","type":"inject","z":"247aba4c.db8546","name":"","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"x":118,"y":359,"wires":[["20163ac7.2ccc66","b8714e8d.5b8dd"]]},{"id":"20163ac7.2ccc66","type":"function","z":"247aba4c.db8546","name":"i2c bytes","func":"msg.payload = [0xF4, 0x2E];\nreturn msg;","outputs":1,"noerr":0,"x":373,"y":372,"wires":[["ef64cf1b.ebf66"]]},{"id":"a0461bde.3aa458","type":"gpio out","z":"247aba4c.db8546","name":"Arduino Slave","state":"I2C_WRITE_REQUEST","pin":"","i2cDelay":"0","i2cAddress":"8","i2cRegister":"","outputs":0,"board":"d935f1e2.37c62","x":416,"y":668,"wires":[]},{"id":"6196e9ed.2d97f8","type":"inject","z":"247aba4c.db8546","name":"","topic":"# of bytes","payload":"129","payloadType":"str","repeat":"","crontab":"","once":false,"x":166,"y":650,"wires":[["a0461bde.3aa458"]]},{"id":"8dab02f3.1f00e","type":"debug","z":"247aba4c.db8546","name":"","active":true,"console":"false","complete":"false","x":631,"y":669,"wires":[]},{"id":"337b5b95.be7084","type":"gpio out","z":"247aba4c.db8546","name":"Arduino Slave","state":"I2C_READ_REQUEST","pin":"","i2cDelay":"0","i2cAddress":"8","i2cRegister":"","outputs":1,"board":"d935f1e2.37c62","x":361,"y":741,"wires":[["9ef99c90.8179b"]]},{"id":"27bd5ab2.541b36","type":"inject","z":"247aba4c.db8546","name":"","topic":"# of bytes","payload":"12","payloadType":"str","repeat":"","crontab":"","once":false,"x":149,"y":723,"wires":[["337b5b95.be7084"]]},{"id":"9ef99c90.8179b","type":"debug","z":"247aba4c.db8546","name":"","active":true,"console":"false","complete":"false","x":592,"y":746,"wires":[]},{"id":"8a64bf71.5ad15","type":"inject","z":"a228708e.e826c","name":"","topic":"counter","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":220,"y":60,"wires":[["2d53fd05.62c1d2"]]},{"id":"2d53fd05.62c1d2","type":"function","z":"a228708e.e826c","name":"Count up/down","func":"context.count = context.count || 0;\nif (context.count <= 0) context.dir = 1;\nif (context.count >= 100) context.dir = -1;\ncontext.count += context.dir;\nmsg.payload = context.count;\nreturn msg;","outputs":1,"x":424,"y":62,"wires":[["cc295034.fe566"]]},{"id":"cc295034.fe566","type":"websocket out","z":"a228708e.e826c","name":"","server":"738ce43b.bbc72c","x":672,"y":61,"wires":[]},{"id":"f2fe562d.693db8","type":"twitter out","z":"a228708e.e826c","twitter":"bf5b9493.c6afe8","name":"Tweet","x":441,"y":279,"wires":[]},{"id":"b1824c5e.c9481","type":"inject","z":"a228708e.e826c","name":"Качество сна","topic":"","payload":"D @microspacer DM","payloadType":"str","repeat":"","crontab":"","once":false,"x":137,"y":259,"wires":[["f2fe562d.693db8","d3088a3.1d1ce78"]]},{"id":"a40d01c7.f1e17","type":"inject","z":"a228708e.e826c","name":"Подъем","topic":"","payload":"Тяжело ли было вставать?","payloadType":"str","repeat":"","crontab":"","once":false,"x":136,"y":316,"wires":[[]]},{"id":"8bce105a.3ab94","type":"inject","z":"a228708e.e826c","name":"Отход ко сну","topic":"","payload":"Тяжело ли было уснуть?","payloadType":"str","repeat":"","crontab":"","once":false,"x":133,"y":361,"wires":[[]]},{"id":"8d378c13.2b745","type":"twitter in","z":"a228708e.e826c","twitter":"bf5b9493.c6afe8","tags":"@microspacer","user":"dm","name":"","topic":"tweets","x":143,"y":443,"wires":[["8c15dd58.bad5f"]]},{"id":"8c15dd58.bad5f","type":"debug","z":"a228708e.e826c","name":"","active":true,"console":"false","complete":"false","x":470,"y":438,"wires":[]},{"id":"d3088a3.1d1ce78","type":"debug","z":"a228708e.e826c","name":"","active":true,"console":"false","complete":"false","x":433,"y":192,"wires":[]},{"id":"27d005e7.22748a","type":"gpio out","z":"247aba4c.db8546","name":"","state":"I2C_WRITE_REQUEST","pin":"","i2cDelay":"0","i2cAddress":"83","i2cRegister":"","outputs":0,"board":"d935f1e2.37c62","x":515,"y":67,"wires":[]},{"id":"107dd93.c191627","type":"inject","z":"247aba4c.db8546","name":"","topic":"","payload":"65","payloadType":"str","repeat":"","crontab":"","once":false,"x":129,"y":85,"wires":[["e4337daf.664d3","9ecc23c1.f9a53"]]},{"id":"e4337daf.664d3","type":"function","z":"247aba4c.db8546","name":"i2c bytes","func":"msg.payload = [0x2D, 0x08];\nreturn msg;","outputs":1,"noerr":0,"x":336,"y":64,"wires":[["27d005e7.22748a"]]},{"id":"57ed6d33.c8c7d4","type":"gpio out","z":"247aba4c.db8546","name":"BMP180 (pressure)","state":"I2C_READ_REQUEST","pin":"","i2cDelay":"0","i2cAddress":"119","i2cRegister":"246","outputs":1,"board":"d935f1e2.37c62","x":540,"y":467,"wires":[["e6fec57.e4da938"]]},{"id":"e6fec57.e4da938","type":"debug","z":"247aba4c.db8546","name":"","active":true,"console":"false","complete":"false","x":765,"y":479,"wires":[]},{"id":"14c24600.bacf2a","type":"inject","z":"247aba4c.db8546","name":"","topic":"# of bytes","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"x":125,"y":554,"wires":[["3a0dec16.3179c4","a20f3206.5d0b3"]]},{"id":"588eab97.2bcc44","type":"gpio out","z":"247aba4c.db8546","name":"","state":"I2C_WRITE_REQUEST","pin":"","i2cDelay":"0","i2cAddress":"119","i2cRegister":"","outputs":0,"board":"d935f1e2.37c62","x":550,"y":539,"wires":[]},{"id":"a20f3206.5d0b3","type":"function","z":"247aba4c.db8546","name":"i2c bytes","func":"msg.payload = [0xF4, 0x34];\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":546,"wires":[["588eab97.2bcc44"]]},{"id":"9ecc23c1.f9a53","type":"delay","z":"247aba4c.db8546","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":273,"y":137,"wires":[["2ac6cb36.d2cd54"]]},{"id":"b8714e8d.5b8dd","type":"delay","z":"247aba4c.db8546","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":305,"y":297,"wires":[["96144c5.fb463b"]]},{"id":"3a0dec16.3179c4","type":"delay","z":"247aba4c.db8546","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":331,"y":470,"wires":[["57ed6d33.c8c7d4"]]}]